/*#loginSite{
	text-align:center;
}

#loginSite form input[type="password"]{
	text-align:center;
}
#loginSite form input[type="login"]{
	text-align:center;
}*/

.hidden{
	display: none;
}

.content h4{
	color :#116d76 !important;
	border-bottom: 2px solid #116d76 !important;
}

.contact{
	text-align: center;
}

.side-nav li {
	margin-bottom:0 !important;
}

.side-nav li:hover {
	margin-bottom:0 !important;
	background: #DFD7D7;
	border-radius: 10px 10px 10px 10px;
}

.souligne_red {
	border-bottom: 2px solid #be140b;
}

.content{
	padding-top: 0 !important;
}

#loginSite{
	margin-left: 30% !important;
	width:100%;
	text-align: center !important
}