/*#loginSite{
	text-align:center;
}

#loginSite form input[type="password"]{
	text-align:center;
}
#loginSite form input[type="login"]{
	text-align:center;
}*/

.hidden{
	display: none;
}

.content h4{
	color :#116d76 !important;
	border-bottom: 2px solid #116d76 !important;
}

.contact{
	text-align: center;
}