/*#loginSite{
	text-align:center;
}

#loginSite form input[type="password"]{
	text-align:center;
}
#loginSite form input[type="login"]{
	text-align:center;
}*/

.dark-blue-box{

	border: 2px solid #1798A5;
	border-radius: 10px 10px 10px 10px;
	margin-top: 15px;
}
.grey-box{
	border: 2px solid #838282;
	color: #5A5858;
	text-align:justify;
	padding: 20px;
	width:50%;
	margin-left: 25%;
}

.grey-box a:hover{
	border-bottom: 1px solid #1798A5;
}

.hidden{
	display: none;
}

.content h4{
	color :#116d76 !important;
	border-bottom: 2px solid #116d76 !important;
}

.contact{
	text-align: center;
}

.side-nav li {
	margin-bottom:0 !important;
}

.heading{
	padding: 0 !important;
}

.side-nav li:hover:not(.heading){
	margin-bottom:0 !important;
	background: #D7DCDF;
	border-radius: 10px 10px 10px 10px;
}

.souligne_red {
	border-bottom: 2px solid #be140b;
}

.content{
	padding-top: 0 !important;
}

#loginSite{
	margin-left: 29% !important;
	width:100%;
	text-align: center !important;
}

#loginSite input{
	text-align: center !important;
}

.small_button {
	background-color: #008CBA;
	color:#fff; 
}

.small_button:hover {
	background-color: #007095;
	color:#fff; 
}

.center{
	text-align: center !important;
}

td a img {
	width:30px;
	margin-left: 5px;
}

td a img:hover{
	background: #DFD7D7;
	border-radius: 10px 10px 10px 10px;
}

#actions-sidebar {
	background: #E8EDF0 !important;
}